.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button {
    float: right;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-top: 11px;
}

button:hover {
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-top: 0px;
    float: left;
}

.amenities {
    height: 100%;
    width: 25%;
    float: left;

}

h3 {
    font-weight: 600;
    color: black;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 30px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: black;
    margin-top: 2px;
    margin-left: 30px;

}

.popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: black;
    list-style: none;

}

.locations:hover .popover,
.amenities:hover .popover {
    position: relative;
    display: block;
}

.popover li ul {
    list-style: none;
}

.popover h2 {
    font-size: 16px;
}

.amenities .popover h4 {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.locations .popover h4 {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}